/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/



/*
    background: #CAF0F8
    font color: #023E8A
    font: Roboto
    .Links, buttons, hyperlinks: #c53300
    visited: #0096C7
    hover, focus: #03045E
*/


body {
    background-color: #CAF0F8;
    color: #023E8A;
    font-family: Roboto;
    font-size: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin: auto;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.box {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

h1 {
    color: #023E8A;
}

h2 {
    color: #023E8A;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 20px;
}

.contactform {
    line-height: .67;
}

.Links {
    color: #023E8A;
}

.navi a{
    color: #023E8A;
}

.navi a:hover {
    text-decoration: none;
}

.navi a:focus {
    text-decoration: none;
}

a:visited {
    color: #0096C7;
    text-decoration: none;
}


button  {
    color: #03045E; 
    background-color: #CAF0F8;
    border-width: 3px;
    border-color: #03045E;
 }


button:hover  {
    background-color: #03045E;
    border-radius: 5px;
    -webkit-transform: rotate(2deg);
        -ms-transform: rotate(2deg);
            transform: rotate(2deg);
}

button:hover a {
    color: #CAF0F8;
}

table, td, th {
    border: 1px solid #CAF0F8; 
    text-align: center;
}

table {
    border-collapse: collapse;
}

input[type=submit] {
    color: #03045E; 
    background-color: #CAF0F8;
    border-width: 3px;
    border-color: #03045E; 
}

input[type=submit]:hover {
    background-color: #03045E;
    border-radius: 5px;
    -webkit-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
            transform: rotate(5deg);
    color: #CAF0F8;
}

/* flex bot below / layout */
/* nav bar below */
.header {
   text-align: center;
    
}

nav {
    background-color: #03045E;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: 3px;
    padding-bottom: 3px;
}

nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 80%;
    margin: 0 auto;
}

nav li {
    display: inline;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    padding-left: 5px;
}


/* box2 below */

.box2  {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.box2 p {
    font-size: 100%;
}

.box2 img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-transition: -webkit-transform 3s ease-in-out;
    transition: -webkit-transform 3s ease-in-out;
    -o-transition: transform 3s ease-in-out;
    transition: transform 3s ease-in-out;
    transition: transform 3s ease-in-out, -webkit-transform 3s ease-in-out;
}
.box2 img:hover {
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
}

.introbox {
    width: 75%;
    height: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
}


.introbox img:hover {
    cursor: progress;
}

.Links {
    margin: 10px;
}

.fishing table {
    margin: 0 auto;
}

/* grid below */


.grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 25px 1fr 25px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;  
    margin: 10px;
}

.grid_item {
    background-color: #90E0EF;
    padding: 5px;
    text-align: center;
}

@media all and (max-width: 500px) {
    .grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-gap: 5px;
    }
    .grid-item {
        grid-column: auto / auto;
        grid-row: auto / auto;
    }
    
}

@media all and (min-width: 500px)
{   
    .grid
    {
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    }

    .grid_item:last-child {
            -ms-grid-column: 1;
                grid-column: 1;
                grid-column-start: 1;
            -ms-grid-column-span: 3;
            grid-column-end: 4;
            -ms-grid-row: 1;
                grid-row: 1;
                grid-row-start: 1;
            -ms-grid-row-span: 0;
            grid-row-end: 1;
    }
}

/* Animation of home page below */
@-webkit-keyframes favmoveR
{
    from {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    to {
      -webkit-transform: translate(150px, 0);
              transform: translate(150px, 0);
    }
}
@keyframes favmoveR
{
    from {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    to {
      -webkit-transform: translate(150px, 0);
              transform: translate(150px, 0);
    }
}

@-webkit-keyframes favmoveL
{
    from {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    to {
      -webkit-transform: translate(-150px, 0);
              transform: translate(-150px, 0);
    }
}

@keyframes favmoveL
{
    from {
      -webkit-transform: translate(0, 0);
              transform: translate(0, 0);
    }
    to {
      -webkit-transform: translate(-150px, 0);
              transform: translate(-150px, 0);
    }
}

#leftRight {
    -webkit-animation: 3s favmoveR infinite alternate linear;
            animation: 3s favmoveR infinite alternate linear;
}

#rightLeft {
    -webkit-animation: 3s favmoveL infinite alternate linear;
            animation: 3s favmoveL infinite alternate linear;
}

